@charset "UTF-8";

/* CODIGO DA FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* ESTILO GERAL */ 

*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.flex{
    display: flex;
}

.id{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

body{
    background-image: linear-gradient(to bottom, #25252e, #3f4352);
    height: 100vh;
    background-size: cover; /* Isso vai garantir que a imagem cubra toda a área */
    background-attachment: fixed; /* Para garantir que o fundo não se mova */
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 8%
}

h2.titulo{
    color: #C4C3C3;
    font-size: 39px;
    text-align: center;
}

/* ESTILO DO CABEÇALHO */ 

header .logo a{ 
    font-size: 1.8em;
    color: #ffffff;
    font-weight: 100;
}
header .logo a:hover{ 
    color: gray;
}


header{
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

}

a {
    display: inline-block;
    color: rgb(134, 134, 134);
    text-decoration: none;
}

a:hover{
    color: white;
   
    transition: 0.5s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    color: rgb(0, 0, 0);
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 100;
    background-color:   rgb(112, 112, 112);
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

header .btn-contato button:hover{
    background-color: #25252e00;
    transition: 0.8s;
    border: 1px solid white;
}

img{
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    border: 2px solid white;
}

img:hover{
    border: 1px solid rgb(122, 122, 122);
    transition: 0.5s;
    box-shadow: 1px 1px 9px gray;

}
/* ESTILO DO TOPO DO SITE */ 

section.topo-do-site {
    padding: 100px 4%; 
}    

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site h1{
    color: rgb(196, 195, 195);
    font-size: 3em;
}


.topo-do-site p {
    margin: 20px 0;
}
strong{
    color: gray;
}


/* ESTILOS ESPECIAIS */

.id{
    margin-top: 6%;
}

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .id{
    gap: 100px;
}

.especialidades .especialidades-box{
    padding: 80px;
    margin-top: -100px;

}


.especialidades .especialidades-box i{
    font-size: 58px;
    color: rgb(196, 195, 195);
    padding: 10px;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0px;
}

.especialidades-box p {
    margin-bottom: 25px;
}

@media screen and (max-width: 990px){

    /* ESTILOS ESPECIAIS */

    section.especialidades{
        padding: 40px 4%;
    }

    .especialidades .especialidades-box{
        padding: 0px;
        margin-top: -100px;

    }
    
    
    /* TOPO DO SITE */

    .topo-do-site p {
        margin: 50px 0;
    }

    .topo-do-site h1{
        font-size: 2em;
    }

    section.topo-do-site {
        padding: 20px 4%; 
    }   

    h2.titulo{
        margin-top: -50px;
        font-size: 2em;
        text-align: center;
        margin-bottom: 50px;
        background-color: #3f4352;
        border-radius: 50px 0px;
        padding: 10px;
    }

    /* CLASSE GERAL */ 
    
    .flex{
        flex-direction: column-reverse;
    }

    .img-topo{
        padding: 50px;
    }
    
    .especialidades-box p{
        padding: 10px;
    }



    /* CABECALHO */ 
    .menu-desktop{
        display: none;
    }

    .btn-contato{
        display: none;
    }


    
}
